.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
}

.hero-name{
    font-size: 50px;
    font-weight: 700;
}

.btn-groups button{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius :12px ;
    transition: all 500ms ease;
    border: 2px solid var(--btn-color);

}

.connect-btn:hover{
    background: transparent;
    color: var(--btn-color);
    transform: scale(1.1);
}
.projects-btn:hover{
    border: 2px solid var(--btn-color);
    transform: scale(1.1);

}